body {
    background: url(https://i.pinimg.com/236x/0d/fc/80/0dfc80655f8eda58e2f7b1fa3a44ce60.jpg) no-repeat center center fixed;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: boder: box;
    font-size: 100%;
}
.profile-card {
    background-color: hsla(60, 100%, 50%, .4);
    width: 700px;
    max-width: calc(100vw - 10px);
    padding-bottom: 3%;
    padding-top: 3%;

}
.content {
    background-color: red;
}