body {
    background: url(assets/v%C3%A1ros%202.jpg) no-repeat center center fixed;
    background-size: cover;
   
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}
profile-card {
    padding: 20%;
}
.profile-card {
    background-color: hsla(0, 0%, 100%, .5);
    width: 50rem;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    margin-top: 5.0rem;
    margin-bottom: 5.0rem;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    border-radius: 5%;
}
.content {
    width:50.0rem;
    height: 20.0rem;
    padding-top: 6%;
    border-top: 0.1rem solid hsla(0, 0%, 30%, .8);
}
body {
     display:flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 30%;
    height: 30%;
    border-radius:50%;
    padding: 0.1rem;
    background-color: blue;
}

h1 {
    padding: 3.0rempx;
    font-family:fantasy
}

h1 {
    font-size: 1.5rem;
}





ol {
    padding-top: 10px;
    padding-bottom: 10PX;
    
}

p {
    padding-bottom: 20px;
}

ol {
    list-style-type: none
}

li {
    display: inline
}

p {
    padding: 10%;
}
img:hover {
    transform: scale(1.1);
    transition: all 20.0s ease-in-out;
    transform: rotate(200000deg)
}
    
    i:hover {
    transform: scale(2);
    transition: all 0.5s ease-in-out;
    

}
